# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Temporary project folders (VERY IMPORTANT)
downloads/
trimmed/
output/

# Logs
*.log
